<header>
  <a href="index.html" class="site-title">Fiona Käch | Architecture</a>

  <button class="hamburger" onclick="toggleMenu()">☰</button>
  <nav class="page-nav">
    <a href="about.html">about</a>
    <a href="resume.html">re&#769sume&#769</a>
    <a href="index.html">portfolio</a>
    <nav class="sub-page-nav">
      <a href="projects/concord.html" onmouseover="showProject('concord')" onmouseout="hideProject()">Concord Alley</a>
      <a href="projects/soils.html" onmouseover="showProject('soils')" onmouseout="hideProject()">Monument to Bygone Soils</a>
      <a href="projects/hive.html" onmouseover="showProject('hive')" onmouseout="hideProject()">The Hive</a>
      <a href="projects/serpentine.html" onmouseover="showProject('serpentine')" onmouseout="hideProject()">Serpentine Pool</a>
      <a href="projects/detail.html" onmouseover="showProject('detail')" onmouseout="hideProject()">Window Analysis</a>
      <a href="projects/helix.html" onmouseover="showProject('helix')" onmouseout="hideProject()">Double Helix</a>
      <a href="projects/void.html" onmouseover="showProject('void')" onmouseout="hideProject()">Voiding the Void</a>
      <a href="projects/dolmen.html" onmouseover="showProject('dolmen')" onmouseout="hideProject()">Dolmen X Dom-Ino</a>
    </nav>
  </nav>

  <script>
    function toggleDropdown() {
      document.querySelector("#dropdown").classList.toggle("open");
    }
    function toggleMenu() {
      const header = document.querySelector("header");
      header.classList.toggle("open");
    }
  </script>
</header>
