@import url("https://nest.garmentsans.com/static/css/main.css");

.resume {
  width: 90vh;
  height: 90vh; // Use viewport height instead of fixed pixels
  max-height: 900px;
  overflow: auto;

  @media (max-width: 768px) {
    height: 80vh; // Slightly smaller on mobile devices
    width: 80vh;
  }
}
